body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stamp-board {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  height: auto;
}

.background {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center top;
  position: relative;
  z-index: 0;
  pointer-events: none;
  display: block;
}

.stamp {
  position: absolute;
  cursor: grab;
  z-index: 1;
}

.stamp img {
  width: 120px;
  height: auto;
  user-select: none;
}

.controls {
  margin: 20px;
  width: 90%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
